<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020. Nearchos Paspallis
  ~ This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 United
  ~ States License, described at this URL: https://creativecommons.org/licenses/by-nc-nd/3.0/us/.
  ~ Unless required by applicable law or agreed to in writing, code listed in this site is
  ~ distributed on "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.nearchos.powermonitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

    <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>